.details {
  &__inner {
    position: relative;
  }

  &__name {
    font-weight: 400;
  }

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 24px;
    padding-bottom: 64px;

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30%;

      &__group {
        display: flex;
        flex-direction: column;

        &-name {
          font-size: 16px;
          font-weight: 700;
          color: var(--color-basic-black);
        }

        &-value {
          font-size: 14px;
          font-weight: 400;
          color: var(--color-light-blue);
        }
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    &-title {
      font-weight: 500;
      color: var(--color-gray-01);
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      row-gap: 24px;
    }

    &-item {
      transition-duration: var(--transition-duration);
      width: 100%;

      @include hover {
        scale: 1.05;
      }
    }
  }
}
