:root {
  --color-light: #ffffff;

  --color-dark: #000000;

  --color-black-medium: #00000060;

  --color-light-gray: #dadada;
  --color-gray: #00000050;

  --font-family-base: 'Karla', sans-serif;
  --font-family-alt: 'Roboto', sans-serif;

  --transition-duration: 0.2s;
  --transition-duration-long: 0.4s;

  --container-width: 1020px;
  --container-padding-x: 24px;

  --border-line: 2px solid;
}
