.character-card {
  width: 240px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 
              0 3px 4px 0 rgba(0, 0, 0, 0.12),
              0 1px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  &__image {
    @include flex-center;

    height: 170px;
    overflow: hidden;
  }

  &__info {
    padding: 16px 12px;
  }

  &__name {
    font-family: var(--font-family-alt);
  }

  &__specias {
    font-size: 14px;
    color: var(--color-black-medium);
  }
}
